:root {
   --color0: #212121;
   --color1: #595959;
   /* --color2: #efefefe4; */
   --color3: #3c3c3c;
   --color4: #fdfdfd;
   --grad1: #50fda497;
   /* --grad2: #00d9ff8a; */
   /* --grad3: #d085f282; */
   --text1: #717171;
   --text2: #a38e41;
}

* {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
   font-size: 100%;
   font-family: "IBM Plex Sans", sans-serif;
   scroll-behavior: smooth;
}

body {
   background-color: var(--color0);
   display: flex;
   flex-direction: column;
   width: 100%;
}

.header {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   row-gap: 20px;
   padding: 30px 5%;
}

.swiper {
   width: 100%;
}

.swiper-slide {
   background-color: var(--color3);
   box-shadow: 1px 1px 1px var(--color1);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 200px;
   height: 250px;
   overflow: hidden;
   border-radius: 5px;
   row-gap: 30px;
   padding: 20px 10px;
}

.header__link__img {
   display: flex;
   width: 100%;
}

.header__img {
   max-width: 100%;
   display: flex;
   width: 100%;
   border-radius: 5px;
}

.header__title {
   color: var(--text2);
   display: flex;
   font-size: 1.1rem;
   font-weight: 500;
   text-decoration: none;
   text-align: center;
}

.main {
   width: 100%;
}

.article {
   display: flex;
   flex-direction: column;
   width: 100%;
   row-gap: 20px;
   padding: 30px 5%;
}

.article__title {
   color: var(--text2);
   font-size: 3rem;
   font-weight: 700;
   text-align: center;
}

.article__parrafo {
   color: var(--text2);
   font-size: 1.1rem;
   font-weight: 500;
   text-align: center;
}

.article__search {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 10px;
   padding: 40px 0 50px 0;
}

.article__buscador {
   display: flex;
   align-items: center;
   column-gap: 20px;
}

.article__input {
   background-color: var(--color4);
   color: var(--text1);
   font-size: 1rem;
   font-weight: 400;
   outline: none;
   border-radius: 5px;
   padding: 10px 15px;
}

.article__icon {
   color: var(--text1);
   font-size: 1.5rem;
   cursor: pointer;
}

.article__resultado {
   color: var(--text1);
   font-size: 1rem;
   font-weight: 400;
}

.article__container {
   display: grid;
   grid-template-columns: repeat(
      auto-fill,
      minmax(300px, 1fr)
   );
   gap: 20px;
}

.section {
   background-color: var(--color3);
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   row-gap: 10px;
   border-radius: 5px;
   box-shadow: 1px 1px 5px var(--color1);
   padding: 20px;
}

/* .section:hover {
   transform: scale(1.1);
   transition: ease 0.5s;
} */

/* Para manipular buscador con JS */
.section__display {
   display: none;
}

.section__picture {
   width: 100%;
}

.section__link__img {
   display: flex;
   width: 100%;
}

.section__imagen {
   display: flex;
   max-width: 100%;
   width: 100%;
   border-radius: 5px;
}

.section__link__title {
   display: flex;
   text-decoration: none;
   text-align: center;
   padding: 10px 0 5px 0;
}

.section__title {
   color: var(--text1);
   color: var(--text2);
   font-size: 1.1rem;
   font-weight: 500;
}

.footer {
   display: inline-flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   row-gap: 20px;
   padding: 100px 5% 30px 5%;
}

.footer__title {
   color: var(--text2);
   font-size: 1.2rem;
   font-weight: 500;
}

.footer__redes {
   justify-content: center;
   display: flex;
   width: 100%;
   column-gap: 40px;
}

.footer__link {
   display: flex;
   align-items: center;
   text-decoration: none;
}

.footer__inst,
.footer__yt,
.footer__spot {
   background-color: var(--color1);
   color: var(--grad1);
   display: flex;
   font-size: 2rem;
   border-radius: 5px;
   box-shadow: 0 0 5px var(--color3);
   padding: 10px;
}

.footer__up {
   background-color: var(--text2);
   color: var(--color0);
   position: fixed;
   bottom: 30px;
   right: 30px;
   font-size: 2rem;
   border-radius: 5px;
   cursor: pointer;
   box-shadow: 0 0 5px var(--color1);
   padding: 0 5px;
}

@media (max-width: 700px) {
   .swiper-slide {
      width: 150px;
      height: 200px;
   }
}