:root {
   --color0: #212121;
   --color1: #3c3c3c;
   --color2: #595959;
   --color4: #fdfdfd;
   --color5: #50fda497;
   --text1: #a38e41;
   --headerColor1: #2e2e2e;
}

* {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
   font-size: 100%;
   font-family: "IBM Plex Sans", sans-serif;
   scroll-behavior: smooth;
}

body {
   background-color: var(--color0);
   display: flex;
   flex-direction: column;
   width: 100%;
}

.header {
   background-color: var(--headerColor1);
   display: none;
   flex-direction: column;
   width: 100%;
}

.header__icon {
   /* background-color: #fff; */
   display: flex;
   width: 100%;
}

.header__open__close {
   background-color: var(--text1);
   color: var(--color0);
   display: flex;
   font-size: 30px;
   border-radius: 3px;
   cursor: pointer;
   box-shadow: 0 0 5px var(--color0);
   padding: 5px;
}

.header__details {
   background-color: var(--headerColor1);
   display: none;
   flex-direction: column;
   padding: 15px;
}

.header__summary__title,
.header__details__year {
   color: var(--text1);
   font-size: 1.1rem;
   font-weight: 500;
}

.header__container__2024,
.header__container__2023 {
   display: flex;
   background-color: var(--color0);
   flex-direction: column;
   width: 100%;
   margin: 5px 0 0 0;
   padding: 15px 15px 15px 30px;
}

.header__details__name {
   /* background-color: var(--headerColor1); */
   color: var(--text1);
   display: flex;
   font-size: 1rem;
   font-weight: 400;
   text-decoration: none;
   border-bottom: 1px solid var(--color1);
   margin: 0 0 1px 0;
   padding: 15px 15px 15px 30px;
}

.main {
   width: 100%;
}

.article {
   display: flex;
   flex-direction: column;
   width: 100%;
   row-gap: 20px;
   padding: 30px 5%;
}

.article__title {
   color: var(--text1);
   font-size: 3rem;
   font-weight: 700;
   text-align: center;
}

.article__parrafo {
   color: var(--text1);
   font-size: 1.1rem;
   font-weight: 500;
   /* text-align: center; */
}

.article__search {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 10px;
   padding: 40px 0 50px 0;
}

.article__buscador {
   display: flex;
   align-items: center;
   column-gap: 20px;
}

.article__input {
   background-color: var(--color4);
   color: var(--color0);
   font-size: 1rem;
   font-weight: 400;
   outline: none;
   border-radius: 5px;
   padding: 10px 15px;
}

.article__icon {
   color: var(--color4);
   font-size: 1.5rem;
   cursor: pointer;
}

.article__resultado {
   color: var(--color4);
   font-size: 1rem;
   font-weight: 400;
}

.article__container_2023,
.article__container_2024 {
   display: grid;
   grid-template-columns: repeat(
      auto-fill,
      minmax(300px, 1fr)
   );
   gap: 20px;
}

.section {
   background-color: var(--color1);
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   row-gap: 10px;
   border-radius: 5px;
   box-shadow: 1px 1px 5px var(--color2);
   padding: 20px;
}

/* Para manipular buscador con JS (".section__display) */
/* .section__display {
   display: none;
} */


.section__link__img {
   display: flex;
   width: 100%;
}

.section__picture {
   width: 100%;
}

.section__imagen {
   display: flex;
   max-width: 100%;
   width: 100%;
   border-radius: 5px;
}

.section__link__title {
   display: flex;
   text-decoration: none;
   text-align: center;
   padding: 10px 0 5px 0;
}

.section__title {
   color: var(--text1);
   font-size: 1.1rem;
   font-weight: 500;
}

.footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   row-gap: 20px;
   padding: 100px 5% 30px 5%;
}

.footer__title {
   color: var(--text1);
   font-size: 1.2rem;
   font-weight: 500;
}

.footer__redes {
   justify-content: center;
   display: flex;
   width: 100%;
   column-gap: 40px;
}

.footer__link {
   display: flex;
   align-items: center;
   text-decoration: none;
}

.footer__inst,
.footer__yt,
.footer__spot {
   background-color: var(--color1);
   color: var(--color5);
   display: flex;
   font-size: 2rem;
   border-radius: 5px;
   padding: 10px;
}

.footer__up {
   background-color: var(--text1);
   color: var(--color0);
   position: fixed;
   bottom: 30px;
   right: 30px;
   font-size: 2rem;
   border-radius: 5px;
   cursor: pointer;
   box-shadow: 0 0 5px var(--color2);
   padding: 0 5px;
}

@media (max-width: 700px) {
   .header {
      display: flex;
   }
}